# Environment
.env
config.ini
config.php
/storage/*.key



# Temp files
temp/*
*.swp
.sass-cache
/public/hot
/public/storage
/cache/
templates/cache/


# IDE
/.vscode
.idea/*

# Vagrant
/.vagrant
*.log

# Other

vendor
.DS_Store
node_modules/
npm-debug.log
yarn-error.log
composer.phar


