
[database]
database_host = localhost
database_user = root
database_password = example
database_name = test

[document]
; This is the title that appears the top of your schema document
title = My Database Schema

[files]
; This is the intermediate file that the scanner generates. You can add
; descriptions to this file and the html_doc_builder will see them.
; This file gets updated by the database_scanner the next time you run it.
schema_file = schema.yaml
; This is the final HTML output file name
document_file = schema.html

[samples]
; Samples looks for common/popular values in each field to give
; users an idea of the nature of the data stored.
;
; There are risks to using this feature, though:
; - If a sensitive value is popular enough, it will be exposed in the document
; - Scanning large or unindexed tables can be computationally intensive
;

; Master enable/disable switch for this feature
enabled = false

; For indexed columns, which are typically faster and more important
; set the largest table length we should attempt as well as how common
; a value must be to be displayed.
max_row_length_indexed = 10000000
top_values_indexed = 6

; Same here for unindexed values. Since these will result in a table
; scan, we recommend only performing on small tables unless you run
; this script on a dedicated replica
max_row_length_unindexed = 10000
top_values_unindexed = 5
